<% if can? :add_material, @requerimiento %>
  <div class="contextual">
  	<%= link_to 'Agregar material', new_requerimiento_material_path(@requerimiento) %>
  </div>
<% end %>


<h2>
  Materiales
</h2>

<%= render "tabla_materiales", :requerimiento => @requerimiento %>


