/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../../../app/stylesheets/print.sass */
body {
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}

/* line 13, ../../../app/stylesheets/print.sass */
h1 {
  font-size: 1.5em;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  padding: 10px 10px;
  margin: 10px 10px;
  font-weight: bold;
}

/* line 20, ../../../app/stylesheets/print.sass */
h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 5px;
  font-weight: bold;
  margin: 10px;
}

/* line 26, ../../../app/stylesheets/print.sass */
h3 {
  font-size: 1.05em;
  padding: 0 30px;
  margin-top: 15px;
  font-style: italic;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 33, ../../../app/stylesheets/print.sass */
dl {
  padding: 0.5em;
}

/* line 36, ../../../app/stylesheets/print.sass */
dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  color: #aaaaaa;
}

/* line 42, ../../../app/stylesheets/print.sass */
dd {
  margin: 0 0 0 210px;
  padding: 0 0 0.5em 0;
}

/* line 46, ../../../app/stylesheets/print.sass */
table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #aaaaaa;
  margin: 10px auto;
}
/* line 52, ../../../app/stylesheets/print.sass */
table thead {
  text-align: center;
  background-color: #aaaaaa;
}
/* line 55, ../../../app/stylesheets/print.sass */
table thead th {
  padding: 10px 10px;
  font-weight: bold;
}
/* line 58, ../../../app/stylesheets/print.sass */
table td {
  padding: 5px 5px;
}
/* line 60, ../../../app/stylesheets/print.sass */
table td.smaller {
  font-size: 0.8em;
}
/* line 62, ../../../app/stylesheets/print.sass */
table th, table td {
  border: 1px solid #aaaaaa;
  text-align: center;
}
/* line 66, ../../../app/stylesheets/print.sass */
table tr.caracteristicas td {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}
/* line 71, ../../../app/stylesheets/print.sass */
table tr.totalizador td {
  font-weight: bold;
}
/* line 73, ../../../app/stylesheets/print.sass */
table tr.totalizador td.label {
  text-align: right;
  padding-right: 5px;
  margin-right: 10px;
}
/* line 77, ../../../app/stylesheets/print.sass */
table.desglose {
  width: 100%;
}

/* line 79, ../../../app/stylesheets/print.sass */
.rqm-info {
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* line 85, ../../../app/stylesheets/print.sass */
.rqm-info .left {
  width: 50%;
  float: left;
  height: 100%;
}
/* line 89, ../../../app/stylesheets/print.sass */
.rqm-info .right {
  float: right;
  width: 50%;
  height: 100%;
  clear: right;
}
/* line 94, ../../../app/stylesheets/print.sass */
.rqm-info a {
  font-style: italic;
  padding: 10px;
  display: block;
}
