<h1>Moneda</h1>

<dl>
  <dt>Simbolo:</dt>
  <dd><%= @moneda.simbolo %></dd>

  <dt>Nombre:</dt>
  <dd><%= @moneda.nombre %></dd>
</dl>

<%= link_to 'Editar', edit_sector_path(@moneda), :class => 'boton' %>
<%= link_to 'Volver', monedas_path, :class => 'back_button' %>