<h1>Editar proveedor</h1>

<%= render 'form' %>

<%= link_to 'Volver', proveedores_path, :class => 'back_button' %>
<!--
<%= link_to 'Ver', @proveedor %> |
<%= link_to 'Volver', proveedores_path %>
-->

