#top-menu
  color: #999
  background-color: #000
  font-family: Verdana, sans-serif
  padding: 1em 1em 0
  font-size: 0.8em
  height: 1.8em
  background: $fondo


#account
  float: right
  ul
    margin: 0
    padding: 0
  li
    float: left
    margin: 0
    padding: 0
    white-space: nowrap
    margin-right: 8px

#loggedas
  float: right
  margin-right: 10px
  a
    margin-left: 5px

