/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
* { margin: 0; padding: 0; }
body{ font-family: helvetica,arial,sans-serif;}

form.formtastic fieldset{ margin: 1em; }
form.formtastic fieldset > ol { margin-top:1em; }
form.formtastic fieldset > ol > p > b { margin-right:.5em; }
form.formtastic fieldset > ol > li label { display:block; width:25%; float:none; padding-top:.2em; clear: both; }
form.formtastic fieldset > ol > li p.inline-hints { margin: 0; font-style: italic; }
form.formtastic fieldset > ol > li.boolean label { margin: 0; padding: 0; }
form.formtastic fieldset.buttons {margin:1em; padding:0;}
form.formtastic fieldset legend span {font-size: 1.5em; font-weight: bold; font-family: verdana,arial,helvetica,sans-serif; color:#333;}
/*form.formtastic fieldset legend {margin: 0.83em 0;}*/
form.formtastic abbr {margin: 0 5px;}
form.formtastic fieldset > ol > li p.inline-errors{display: inline; margin: 0;}

form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input {padding: 0.2em;}

/* TODO: En las fechas mover el error y el label */
form.formtastic li.date > fieldset { margin-left: 0; }
form.formtastic li.date > fieldset > ol { float: left; display: block; position: relative; padding: 0;}
form.formtastic li.date > fieldset > legend { position: relative; }
form.formtastic li.date > fieldset > legend.label label { position: relative; }

/* Temporal */

#content{  margin: 0 auto; padding: 0 15px; background-color: white;}
#content h1, #content h2{ margin: 0.5em 0; padding: 0.5em 0; }
#content p{ padding: 0.25em 0; }


#content table { width: 100%; border-collapse: collapse; background: #ebebeb; margin-bottom: 1em;}
#content table tr th, #content table tr td { padding: 0.5em 0.2em; }

#content table thead th {
	background: none repeat scroll 0 0 #261F1F;
  font-size: 12px; color: #FFF;	text-align: center;
}

#content table thead :first-child {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

#content table thead :last-child {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
}

#content table tbody tr td { text-align: center; font-size: 12px; padding: 0.2em 0; border: none; }
#content table tbody tr td a { padding: 2px 40px;}
#content table tbody tr td a:hover { background: none; text-decoration: none; color:#FFF;}
#content table tbody tr :last-child { border: none; }
#content table tbody tr:hover { /* background-color: #D5E2FF; */ background-color: #254A86; color:#FFF;}
#content table tbody tr:hover a { /* background-color: #D5E2FF; */ background-color: #254A86; color:#FFF;}
#content table tbody :last-child { border-bottom: 5px solid #261F1F; }

