@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180@rms/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../../app/assets/stylesheets/screen.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  color: #484848;
  font-family: Verdana, sans-serif;
  font-size: 81%;
  margin: 0;
  min-width: 900px;
  padding: 0;
  background-color: #333333;
}

/* line 25, ../../app/assets/stylesheets/screen.sass */
a {
  color: inherit;
  text-decoration: none;
}
/* line 29, ../../app/assets/stylesheets/screen.sass */
a:hover {
  color: #b3b3b3;
  text-decoration: underline;
}

/* line 33, ../../app/assets/stylesheets/screen.sass */
h1, h2, h3, h4, h5 {
  font-family: "Myriad Pro", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  border-bottom: medium none;
  margin: 0;
  padding: 0;
}

/* line 39, ../../app/assets/stylesheets/screen.sass */
h1, h2 {
  color: #444444;
  margin: 0 0 10px;
  font-size: 20px;
  padding: 2px 10px 1px 0;
  font-weight: bold;
}

/* line 46, ../../app/assets/stylesheets/screen.sass */
#wrapper {
  background-color: #333333;
  min-width: 900px;
}

/* line 82, ../../app/assets/stylesheets/screen.sass */
.boton {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: green;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: normal;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
.boton:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}

/* line 88, ../../app/assets/stylesheets/screen.sass */
.actions .negative_action {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: red;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: normal;
  margin-right: 5px;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
.actions .negative_action:hover {
  background-color: #ff3333;
  color: white;
  text-decoration: none;
}

/* line 95, ../../app/assets/stylesheets/screen.sass */
.icon-sort {
  background: url('/images/sort-alphabet.png?1309454698') no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

/* line 106, ../../app/assets/stylesheets/screen.sass */
.details_button {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: #222222;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  margin-right: 3px;
  margin-top: 5px;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
.details_button:hover {
  background-color: #3c3c3c;
  color: white;
  text-decoration: none;
}

/* line 110, ../../app/assets/stylesheets/screen.sass */
.contextual {
  float: right;
  font-size: 0.9em;
  margin-top: 5px;
  white-space: nowrap;
  background: url('/images/plus-circle.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 3px;
  padding-top: 2px;
}
/* line 54, ../../app/assets/stylesheets/screen.sass */
.contextual a {
  padding-left: 20px;
}
/* line 116, ../../app/assets/stylesheets/screen.sass */
.contextual .export_xls {
  background: url('/images/page_white_excel.png?1338294010') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 3px;
  padding-top: 2px;
  padding-left: 20px;
  margin-left: 10px;
}

/* line 1, ../../app/assets/stylesheets/partials/_top-menu.sass */
#top-menu {
  color: #999999;
  font-family: Verdana, sans-serif;
  padding: 1em 1em 0;
  font-size: 0.8em;
  height: 1.8em;
  background: url("/images/bottom_shine.png") repeat-x scroll left bottom black;
  background-color: #111111;
  border-bottom: 1px solid #333333;
}
/* line 11, ../../app/assets/stylesheets/partials/_top-menu.sass */
#top-menu a {
  color: #bfbfbf;
}

/* line 15, ../../app/assets/stylesheets/partials/_top-menu.sass */
#account {
  float: right;
}
/* line 17, ../../app/assets/stylesheets/partials/_top-menu.sass */
#account ul {
  margin: 0;
  padding: 0;
}
/* line 20, ../../app/assets/stylesheets/partials/_top-menu.sass */
#account li {
  float: left;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  margin-right: 8px;
}
/* line 26, ../../app/assets/stylesheets/partials/_top-menu.sass */
#account a {
  font-weight: bold;
}

/* line 29, ../../app/assets/stylesheets/partials/_top-menu.sass */
#loggedas {
  float: right;
  margin-right: 10px;
}
/* line 32, ../../app/assets/stylesheets/partials/_top-menu.sass */
#loggedas a {
  margin-left: 5px;
  font-weight: bold;
}

/* line 1, ../../app/assets/stylesheets/partials/_header.sass */
#header {
  background: url("/images/bottom_shine.png") repeat-x scroll left bottom black;
  padding: 1em 1em 2.3em;
  color: #f8f8f8;
  height: 3.5em;
  margin: 0;
  position: relative;
}
/* line 8, ../../app/assets/stylesheets/partials/_header.sass */
#header h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: white;
}

/* Los tabs */
/* line 15, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu {
  margin-right: 0;
  right: 6px;
  bottom: 0;
  left: 6px;
  position: absolute;
  font-size: 1em;
}
/* line 22, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu ul {
  margin: 0;
  padding: 0;
}
/* line 25, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu ul li.selected {
  background: #333333 none;
}
/* line 27, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu ul li.selected a, #main-menu ul li.selected a:hover {
  border-color: #444444;
  color: #d5d5d5;
  font-weight: bold;
}
/* line 31, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li {
  background: url("/images/bottom_shine.png") repeat-x scroll left bottom black;
  background-color: #111111;
  border: solid 1px #333333;
  border-width: 1px 1px 0px 0px;
  font-size: 1em;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
  float: left;
  list-style-type: none;
  padding: 0.5em;
}
/* line 42, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li a, #main-menu li a:hover {
  text-decoration: none;
  line-height: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  background: none;
  color: #aaaaaa;
  padding: 5px 10px;
  font-weight: normal;
}
/* line 50, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li:hover {
  background: url("/images/bottom_shine.png") repeat-x scroll left bottom black;
  background-color: #333333;
  border-color: #555555;
}
/* line 54, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li:hover a {
  color: white;
}
/* line 56, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li:first-child {
  -khtml-border-radius-topleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}
/* line 60, ../../app/assets/stylesheets/partials/_header.sass */
#main-menu li:last-child {
  -khtml-border-radius-topright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}

/* line 1, ../../app/assets/stylesheets/partials/_main.sass */
#main {
  margin: 0;
  background-color: #eeeeee;
  background: none repeat scroll 0 0 transparent;
}

/* line 6, ../../app/assets/stylesheets/partials/_main.sass */
#content {
  min-height: 600px;
  background: url("/images/shadow_top.png") repeat-x scroll left top white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  margin: 1em 1.4em 1em 1em;
  padding: 6px 10px 10px;
  z-index: 10;
  overflow: auto;
}

/* line 1, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination {
  margin-top: 8px;
  font-size: 90%;
  text-align: center;
}
/* line 5, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination a {
  font-weight: bold;
  padding: 2px 3px;
}
/* line 8, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination a:hover {
  background-color: #f8e6a4;
  text-decoration: none;
  color: inherit;
}
/* line 12, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination em {
  border-bottom: 3px solid #484848;
  padding: 2px 5px;
  margin: 2px 5px;
  font-style: italic;
}
/* line 19, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination em:before {
  content: "página ";
}
/* line 21, ../../app/assets/stylesheets/partials/_tables.sass */
.pagination span.disabled {
  display: none;
}

/* line 23, ../../app/assets/stylesheets/partials/_tables.sass */
#filters {
  padding-bottom: 4px;
}
/* line 25, ../../app/assets/stylesheets/partials/_tables.sass */
#filters a.clean-filters {
  font-weight: normal;
  font-size: 0.9em;
  font-style: italic;
  background: url('/images/eraser.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 25px;
  margin-left: 5px;
}
/* line 34, ../../app/assets/stylesheets/partials/_tables.sass */
#filters h3 {
  font-size: 0.9em;
  font-weight: normal;
}
/* line 37, ../../app/assets/stylesheets/partials/_tables.sass */
#filters h3 a {
  padding-left: 2.2em;
}
/* line 39, ../../app/assets/stylesheets/partials/_tables.sass */
#filters a:hover {
  text-decoration: none;
}
/* line 41, ../../app/assets/stylesheets/partials/_tables.sass */
#filters .filters-content {
  border-top: 1px solid #e4e4e4;
  padding: 10px;
}
/* line 44, ../../app/assets/stylesheets/partials/_tables.sass */
#filters .filters-content li.reset {
  margin-top: 5px;
  margin-left: 10px;
}
/* line 47, ../../app/assets/stylesheets/partials/_tables.sass */
#filters .filters-content li.reset a {
  font-weight: normal;
  font-size: 0.9em;
  font-style: italic;
}
/* line 51, ../../app/assets/stylesheets/partials/_tables.sass */
#filters fieldset.inputs ol li select {
  width: 100%;
}
/* line 54, ../../app/assets/stylesheets/partials/_tables.sass */
#filters fieldset.buttons {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-top: 5px;
}
/* line 60, ../../app/assets/stylesheets/partials/_tables.sass */
#filters ol li {
  clear: none;
  display: inline;
  float: left;
  padding-right: 5px;
}
/* line 65, ../../app/assets/stylesheets/partials/_tables.sass */
#filters ol li input {
  width: 100%;
}
/* line 67, ../../app/assets/stylesheets/partials/_tables.sass */
#filters ol li label {
  padding: 0;
  margin: 0;
  display: block;
  clear: both;
  float: none;
  padding-bottom: 5px;
  width: auto;
  /* width:25% */
  /* padding-top:.2em */
}

/* line 79, ../../app/assets/stylesheets/partials/_tables.sass */
div.accordion {
  font-size: 0.9em;
  line-height: 1;
  margin-bottom: 3px;
}

/* line 84, ../../app/assets/stylesheets/partials/_tables.sass */
a.sort_link {
  background: url('/images/sort-small.png?1309454698') no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
  padding-bottom: 3px;
  background-position: 100% 50%;
  padding-right: 16px;
}

/* line 90, ../../app/assets/stylesheets/partials/_tables.sass */
table {
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
  margin-bottom: 4px;
  width: 100%;
  border-collapse: collapse;
}
/* line 97, ../../app/assets/stylesheets/partials/_tables.sass */
table thead th {
  background: url("/images/shadow_top.png") repeat-x scroll left center #cccccc;
  border-color: #d5d5d5 #d5d5d5 #aaaaaa;
  border-style: solid;
  border-width: 1px;
  font-size: 0.94em;
  padding: 4px;
  white-space: nowrap;
  text-align: center;
  color: #444444;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
/* line 110, ../../app/assets/stylesheets/partials/_tables.sass */
table thead th a {
  border: medium none;
  color: #444444;
}
/* line 114, ../../app/assets/stylesheets/partials/_tables.sass */
table thead th a:hover {
  color: #dddddd;
  text-decoration: underline;
}
/* line 118, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody .odd {
  background-color: white;
}
/* line 120, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr {
  text-align: center;
  background-color: #dddddd;
}
/* line 125, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr:hover, table tbody tr.hover {
  background-color: #f8e6a4;
}
/* line 128, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr.row_details > td {
  text-align: left;
  font-style: italic;
}
/* line 131, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr td {
  text-align: center;
  font-size: 0.9em;
  vertical-align: middle;
  padding: 5px;
}
/* line 137, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr td.actions img {
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 5px;
}
/* line 141, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr td.actions a {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: #222222;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  margin-right: 3px;
  visibility: hidden;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
table tbody tr td.actions a:hover {
  background-color: #3c3c3c;
  color: white;
  text-decoration: none;
}
/* line 144, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr a {
  color: #666666;
}
/* line 146, ../../app/assets/stylesheets/partials/_tables.sass */
table tbody tr a:hover {
  border-bottom: 1px dotted #999999;
  color: #999999;
  text-decoration: none;
}

/* line 563, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic fieldset {
  width: 100%;
}
/* line 566, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li label {
  float: left;
  width: 16%;
  padding-left: 4%;
  text-align: left;
}
/* line 580, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li fieldset legend {
  width: 16%;
  padding-left: 4%;
}
/* line 599, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li fieldset ol {
  padding: 0 10% 0 20%;
}
/* line 608, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li p.inline-hints, form.formtastic ol li p.inline-errors, form.formtastic ol li ul.errors {
  margin: 0 0 0 20%;
}
/* line 611, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li.string input, form.formtastic ol li.password input, form.formtastic ol li.numeric input, form.formtastic ol li.text textarea, form.formtastic ol li select {
  width: 70%;
}
/* line 613, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic ol li.boolean label {
  padding-left: 20%;
}
/* line 616, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic fieldset.buttons {
  padding-left: 20%;
  width: 70%;
}
/* line 624, ../../app/assets/stylesheets/partials/_formtastic_base.scss */
form.formtastic fieldset.buttons ol li {
  display: inline;
  width: auto;
  float: left;
}
/* line 7, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect {
  display: inline;
  width: auto;
}
/* line 10, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect .csleft {
  width: 200px;
}
/* line 12, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect fieldset {
  width: auto;
  padding: 0 5px;
}
/* line 15, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect fieldset input.csadd {
  margin-bottom: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: green;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 3px 6px 4px;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
form.formtastic fieldset.comboselect fieldset input.csadd:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}
/* line 19, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect fieldset input.csremove {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: green;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  padding: 3px 11px 4px;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
form.formtastic fieldset.comboselect fieldset input.csremove:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}
/* line 22, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.comboselect .csright {
  width: 200px;
}
/* line 24, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs {
  padding: 5px;
  width: auto;
}
/* line 27, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs legend {
  float: left;
  text-align: left;
  width: 16%;
  font-size: 0.9em;
  padding: 5px 0;
  padding-left: 4%;
}
/* line 35, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs ol li.boolean label {
  padding-left: 0;
  width: auto;
}
/* line 38, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs ol li {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  padding-right: 5px;
}
/* line 45, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs ol li select {
  width: auto;
}
/* line 47, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs fieldset.complex-inputs ol li p.inline-hints {
  margin: 0;
}
/* line 50, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li {
  padding: 5px;
}
/* line 52, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li input, form.formtastic fieldset.inputs ol li textarea {
  border-color: #7c7c7c #c3c3c3 #dddddd;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-size: 1em;
  margin: 0;
  padding: 2px 0;
  background: url('/images/shadow.gif?1309454698') no-repeat;
  width: none;
  height: none;
  overflow: hidden;
  background-repeat: repeat-x;
  background-attachment: center;
  background-position: top;
  background-color: white;
}
/* line 66, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li input:focus, form.formtastic fieldset.inputs ol li textarea:focus {
  outline: none;
}
/* line 70, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li.boolean label input {
  margin-right: 5px;
}
/* line 72, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li abbr {
  color: red;
  padding: 0 5px;
}
/* line 76, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li.error input, form.formtastic fieldset.inputs ol li.error textarea {
  background-color: #ffe3e3;
}
/* line 78, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li p.inline-errors {
  color: #ff3333;
  font-size: 0.9em;
  padding-top: 4px;
}
/* line 82, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li.highlight {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 84, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.inputs ol li .inline-hints {
  font-style: italic;
  font-size: 0.8em;
  padding-top: 4px;
}
/* line 89, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.buttons {
  padding-top: 5px;
}
/* line 92, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic fieldset.buttons ol li input {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: green;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
form.formtastic fieldset.buttons ol li input:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}
/* line 97, ../../app/assets/stylesheets/partials/_form.sass */
form.formtastic label {
  font-size: 0.9em;
  padding: 5px 0px;
}

/* line 101, ../../app/assets/stylesheets/partials/_form.sass */
.back_button {
  color: gray;
  margin-top: 10px;
  padding-top: 10px;
  display: block;
  border-top: 1px solid #dddddd;
  font-weight: normal;
  font-size: 0.9em;
  background: url('/images/arrow-curve-180.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-position: 2px 8px;
  padding-bottom: 3px;
  padding-top: 10px;
  padding-left: 23px;
}

/* line 115, ../../app/assets/stylesheets/partials/_form.sass */
.highlight {
  background-color: #f8e6a4;
}

/* line 121, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset {
  margin: 0 auto;
}
/* line 123, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset.inputs {
  margin-top: 20px;
}
/* line 126, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset.inputs ol li {
  float: none;
  margin: 0 10px;
}
/* line 129, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset.buttons {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 70px;
}
/* line 134, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset.buttons ol li {
  float: none;
}
/* line 136, ../../app/assets/stylesheets/partials/_form.sass */
#login fieldset.buttons ol a {
  font-size: 0.9em;
  font-weight: normal;
  margin-left: 10px;
  padding-top: 5px;
  float: right;
}

/* line 2, ../../app/assets/stylesheets/partials/_show.sass */
.show {
  padding-bottom: 10px;
}

/* line 4, ../../app/assets/stylesheets/partials/_show.sass */
dl {
  line-height: 1.6em;
  padding-left: 10px;
  clear: both;
  display: block;
}
/* line 9, ../../app/assets/stylesheets/partials/_show.sass */
dl dt {
  color: #999999;
  float: left;
  display: block;
  margin: 0;
  width: 130px;
}
/* line 16, ../../app/assets/stylesheets/partials/_show.sass */
dl dd {
  margin: 0;
  display: block;
  clear: right;
}
/* line 20, ../../app/assets/stylesheets/partials/_show.sass */
dl dd ul {
  padding-left: 130px;
  list-style: disc inside none;
}

/* line 19, ../../app/assets/stylesheets/partials/_notification.sass */
.warning {
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #ffff99;
  background: url('/images/exclamation-diamond.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #ffffcc;
  background-position: 15px center;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 12, ../../app/assets/stylesheets/partials/_notification.sass */
.warning:hover {
  cursor: pointer;
}
/* line 14, ../../app/assets/stylesheets/partials/_notification.sass */
.warning p {
  padding-left: 30px;
}
/* line 16, ../../app/assets/stylesheets/partials/_notification.sass */
.warning p strong {
  font-weight: bold;
  padding-right: 5px;
}

/* line 21, ../../app/assets/stylesheets/partials/_notification.sass */
.information {
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #80ff80;
  background: url('/images/tick.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #ccffcc;
  background-position: 15px center;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 12, ../../app/assets/stylesheets/partials/_notification.sass */
.information:hover {
  cursor: pointer;
}
/* line 14, ../../app/assets/stylesheets/partials/_notification.sass */
.information p {
  padding-left: 30px;
}
/* line 16, ../../app/assets/stylesheets/partials/_notification.sass */
.information p strong {
  font-weight: bold;
  padding-right: 5px;
}

/* line 23, ../../app/assets/stylesheets/partials/_notification.sass */
.failure {
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 3px solid #ff9999;
  background: url('/images/exclamation-red.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #ffcccc;
  background-position: 15px center;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 12, ../../app/assets/stylesheets/partials/_notification.sass */
.failure:hover {
  cursor: pointer;
}
/* line 14, ../../app/assets/stylesheets/partials/_notification.sass */
.failure p {
  padding-left: 30px;
}
/* line 16, ../../app/assets/stylesheets/partials/_notification.sass */
.failure p strong {
  font-weight: bold;
  padding-right: 5px;
}

/* line 2, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .rqm-info {
  clear: both;
  padding-bottom: 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* line 9, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .rqm-info .left {
  width: 50%;
  float: left;
  height: 100%;
}
/* line 13, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .rqm-info .right {
  float: right;
  width: 50%;
  height: 100%;
  clear: right;
}
/* line 18, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .rqm-info a {
  font-style: italic;
  padding: 10px;
  display: block;
}
/* line 22, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm h1 {
  width: auto;
  display: inline;
  float: left;
}
/* line 26, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .estado {
  float: left;
  padding: 5px 10px;
  background-color: #4985d6;
  font-weight: bold;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 33, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm h2 {
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  clear: left;
}
/* line 39, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm table {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
}
/* line 43, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm p {
  padding: 0 10px 10px;
}
/* line 45, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .estado_rechazado {
  font-weight: bold;
  background-color: #ff3333;
}
/* line 49, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .estado_rechazado_title {
  color: #ff3333;
  font-weight: bold;
}
/* line 53, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm .boton-add {
  background: url('/images/plus-circle.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 3px;
  padding-top: 2px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  margin-left: 20px;
  padding-top: 5px;
  background-position: 0 -2px;
  font-size: 0.7em;
  font-style: italic;
}
/* line 54, ../../app/assets/stylesheets/screen.sass */
#rqm .boton-add a {
  padding-left: 20px;
}
/* line 65, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm #rqm_actions {
  padding-left: 10px;
}
/* line 67, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm #rqm_actions a {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: green;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
  margin-right: 5px;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
#rqm #rqm_actions a:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}
/* line 70, ../../app/assets/stylesheets/partials/_rqm.sass */
#rqm #rqm_actions a.negative_action {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: url('/images/button_bg.png?1309454698') no-repeat;
  width: auto;
  height: auto;
  overflow: hidden;
  background-repeat: repeat-x;
  background-color: red;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  line-height: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  border: none;
}
/* line 77, ../../app/assets/stylesheets/screen.sass */
#rqm #rqm_actions a.negative_action:hover {
  background-color: #ff3333;
  color: white;
  text-decoration: none;
}

/* line 3, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td {
  word-wrap: break-word;
}
/* line 5, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.nro {
  width: 5px;
}
/* line 7, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.empresa {
  width: 30px;
}
/* line 9, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.estado {
  width: 200px;
}
/* line 11, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.solicitante {
  width: 60px;
}
/* line 13, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.sector {
  width: 60px;
}
/* line 15, ../../app/assets/stylesheets/partials/_requerimiento_index.sass */
table.requerimientos tbody tr td.proveedor {
  width: 160px;
}
