<h1>Nuevo adjunto para </h1>
<h2><%= "#{@requerimiento.id}" %></h2>

<%= render 'form' %>

<%= link_to 'Volver', :back, :class => 'back_button' %>
<!-- # requerimiento_path(@requerimiento), :class => 'back_button' %> -->

