<h2>Detalles de la empresa</h2>
<dl>
  <dt>Nombre</dt>
  <dd><%= @empresa.nombre %></dd>
</dl>
<dl>
  <dt>url Poseidon</dt>
  <dd><%= @empresa.url_poseidon %></dd>
</dl>


<%= link_to 'Editar', edit_empresa_path(@empresa), :class => 'boton' %>
<%= link_to 'Volver', empresas_path, :class => 'back_button' %>

