<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<p>El requerimiento N° <%= @nro_rqm %> a sido aprobado por <%= @nombre_autorizante %></p>  	
  	<p>Puede acceder al siguiente al mismo a través del siguiente <%= link_to 'link', @url %>.</p>
  </body>
</html>

