<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<p>Se solicita la aprobación del requerimiento N° <%= @requerimiento.id %></p>
  	<p>Puede acceder al siguiente <%= link_to 'link', requerimiento_url(@requerimiento) %> para verificar el requerimiento y determinar si lo aprueba.</p>
  </body>
</html>

